/* component */
.base-prompt {

    margin-bottom: var(--copy-gutter);

}

/* prompt copy */
.base-prompt > p:first-of-type {

    font-size: 1.25em;
    margin-bottom: 0.5em;

}

@import "prompt-range";
