@import "~vue-material/dist/theme/engine"; // Import the theme engine

/*************************************** COLOR PALETTE ***************************************/

$primary: md-get-palette-color(gray, 800);
$accent: md-get-palette-color(gray, 900);

$dark-grey: rgb(31, 31, 31);
$mid-grey: rgb(100, 100, 100);
$light-grey: rgb(240, 240, 240);

$viz1: #31bccc;
$viz2: #c2b71d;

@include md-register-theme("default", (
  primary: $primary, // The primary color of your application
  accent: $accent // The accent or secondary color
));

@import "~vue-material/dist/theme/all"; // Apply the them
