html {

    scroll-behavior: smooth;

}

html,
body {

    background: $light-grey;

}

a,
svg {

    transition: .3s cubic-bezier(.25,.8,.25,1);
    transition-property: all;

}

p {

    max-width: var(--copy-max);

}

main {

    padding-bottom: var(--copy-gutter);

}

main,
footer {

    margin-left: auto;;
    margin-right: auto;;

}

main > section {

    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    width: 70%;

}

/*********************** MEDIA QUERIES ***********************/

@media screen
    and (min-width: $mq-4k)
    and (-webkit-min-device-pixel-ratio: 2)
    and (min-resolution: 192dpi) {

        html,
        body {

            font-size: 24px;

        }

}

@media screen
    and (device-width: $mq-custom-width)
    and (device-height: $mq-custom-height)
    and (width: $mq-custom-width)
    and (height: $mq-custom-height) {

        html,
        body {

            font-size: 21px;

        }

}

@media screen
    and (max-width: $mq-small) {

        figure > div {
            display: block;
        }

}
