@import "color";

:root {

    --copy-gutter: 50px;
    --copy-gutter-double: 100px;
    --copy-max: 650px;

    --accent: #{$accent};
    --primary: #{$primary};

    --viz1: #{$viz1};
    --viz2: #{$viz2};

    --dark-grey: #{$dark-grey};
    --mid-grey: #{$mid-grey};
    --light-grey: #{$light-grey};

}

/* have to use scss variables for media query values since css variables are not supported there */
$mq-4k: 1920px;
$mq-jumbo: 1350px;
$mq-large: 1275px;
$mq-medium: 1080px;
$mq-small: 950px;
$mq-tiny: 800px;
$mq-mobile: 730px;

$mq-custom-height: 1200px;
$mq-custom-width: 1920px;

/* order is important for cascading */
@import "typefaces";
@import "vue-material";
@import "globals";
@import "the-header";
@import "the-footer";
@import "base-survey";
