/* component */
.prompt-range {

    line-height: 1;
    margin-bottom: 0.5em;
    padding-right: 0.1em;
    width: 100%;

}

/* value wrap */
.prompt-range > div {

    align-items: center;
    display: flex;

}

/* number field */
.prompt-range div > div:first-of-type {

    margin: 0;
    margin-left: 0.25em;
    min-height: 0;
    padding: 0;
    width: 2.75em;

}

/* number field input */
.prompt-range div > div:first-of-type input {

    width: 100%;

}

/* range label wrap */
.prompt-range > div > p {

    margin: 0;
    margin-left: 0.75em;

}

/* range label timing */
.prompt-range > div > p span {

    margin-right: 0.75em;
    text-transform: uppercase;

}

.base-prompt .prompt-range:first-of-type input[type=range] {

    margin: 0;

}

/* range slider */
.base-prompt .prompt-range:first-of-type input[type=range] {

    accent-color: var(--viz1);

}

.base-prompt .prompt-range:last-of-type input[type=range] {

    accent-color: var(--viz2);

}
