/*component */
.survey-intro {

    display: flex;
    margin-bottom: 1em;
    margin-top: 1em;

}

/* status wrap */
.survey-intro > div {

    align-items: flex-start;
    display: flex;
    justify-content: space-around;
    position: relative;

}

/* first wrap */
.survey-intro > div:first-of-type {

    margin-right: var(--copy-gutter);

}

/* description */
.survey-intro > div > p{

    margin: 0;
    margin-right: 1em;

}

/* progress wrap */
.survey-intro > div > div {

    display: flex;
    position: relative;

}

/* status value */
.survey-intro > div > div > span {

    bottom: 0;
    display: block;
    font-weight: 700;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 33%;

}

/* progress */
.survey-intro .empty .md-progress-spinner-circle {

    fill: var(--mid-grey);
    opacity: 30%;

}

/* now */
.survey-intro > div:first-of-type .md-progress-spinner.md-theme-default .md-progress-spinner-circle {

    stroke: var(--viz1);

}

/* preferred */
.survey-intro > div:nth-of-type(2) .md-progress-spinner.md-theme-default .md-progress-spinner-circle {

    stroke: var(--viz2);

}
