/* component */
.survey-section {

    margin-bottom: 2em;

}

/* action wrap */
.survey-section > div:first-of-type {

    display: flex;
    justify-content: flex-end;
    margin-bottom: 2em;
    margin-top: 2em;

}
