<template>

    <section class="base-survey">

        <md-steppers
            v-bind:md-active-step.sync="active"
            md-linear>

            <!-- PROMPT GROUP -->
            <md-step
                v-for="(d,i) in data.concat([surveyComplete])"
                v-bind:key="i"
                v-bind:id="i.toString()"
                v-bind:md-label="d.label.split(' ')[0]"
                v-bind:md-description="d.label.split(' ').filter((x,i) => i > 0).join(' ')"
                v-bind:md-editable="!dones[i]"
                v-bind:md-done.sync="dones[i]">

                <!-- PROMPTS -->
                <SurveySection
                    v-if="i < data.length"
                    v-bind:defaultMax="defaultMax"
                    v-bind:differences="differences"
                    v-bind:maxes="maxes"
                    v-bind:section="d"
                    v-bind:step="i"
                    v-bind:sums="sums"
                    v-bind:timing="timing"
                    v-bind:results="results"
                    v-on:reset="reset"
                    v-on:prompt_updated="processUpdatedPrompt"
                    v-on:step_updated="processUpdatedStep"
                    v-on:sum_updated="processUpdatedSum" />

                <!-- COMPLETED -->
                <SurveyComplete
                    v-if="i == data.length"
                    v-bind:data="surveyComplete" />

            </md-step>

        </md-steppers>

    </section>

</template>

<script>
    import SurveyComplete from "./SurveyComplete";
    import SurveySection from "./SurveySection";

    import Datastore from "../modules/datastore";

    export default {
        name: "BaseSurvey",
        props: ["data", "defaultMax", "timing"],
        components: {
            SurveyComplete,
            SurveySection
        },
        data() {
            return {
                active: "5",
                differences: this.resetDifferences(),
                dones: this.resetDones(),
                maxes: this.resetMaxes(),
                results: this.resetResults(),
                sums: this.resetSums(),
                surveyComplete: {
                    label: "Complete",
                    description: "You are done. Thanks."
                },
                surveySubmission: []
            }
        },
        computed: {
            datastore: function() {
                return new Datastore();
            }
        },
        methods: {
            processUpdatedSum(updatedSum) {

                let prompt = updatedSum.prompt;
                let step = updatedSum.step;
                let time = updatedSum.time;
                let value = updatedSum.value;

                // copy data
                let nd = [...this.differences];
                let nr = [...this.results];
                let ns = [...this.sums];
                let nm = [...this.maxes];

                // update values
                nr[time][prompt] = value;
                ns[time] = nr[time].reduce((d,i) => d + i);
                nd[time] = this.defaultMax - ns[time];
                nm[time] = nr[time].map((d,i) => nd[time] + d);

                // update state
                this.differences = nd;
                this.maxes = nm;
                this.sums = ns;
                this.results = nr;

            },
            reset() {
                // update state
                this.differences = this.resetDifferences();
                this.dones = this.resetDones();
                this.maxes = this.resetMaxes();
                this.sums = this.resetSums();
                this.results = this.resetResults();
            },
            resetDifferences() {
                return this.timing.map(d => this.defaultMax);
            },
            resetDones() {
                return this.data.map(d => false);
            },
            resetMaxes() {
                return this.timing.map(d => this.data.map(x => this.defaultMax));
            },
            resetResults() {
                return this.timing.map(d => this.data.map(x => 0));
            },
            resetSums() {
                return this.timing.map(d => 0);
            },
            processUpdatedPrompt(updatedPrompt) {
                //console.log(updatedPrompt);
            },
            processUpdatedStep(updatedStep) {

                // update state
                this.surveySubmission.push({
                    label: this.data[parseInt(this.active)].label,
                    values: this.results
                });
                this.active = updatedStep < this.data.length ? (updatedStep + 1).toString() : null;

                // check if last step
                if (updatedStep == this.data.length - 1) {

                    let promptIds = ["A", "B", "C", "D"];

                    // format to tabular style
                    let header = ["section", "prompt", "statement"].concat(this.timing).join(";");
                    let rows = this.data.map((d,i) => d.prompts.map((x,j) => [d.label,promptIds[j],x].concat(this.surveySubmission.filter((y,k) => k == i).map(z => z.values.map(time => time.filter((v,m) => m === j)).join(";"))).join(";")).join("\n")).join("\n");
                    let table = [header, rows].join("\n");

                    // submit survey
                    this.datastore.push(table);

                } else {

                    // reset for next step entries
                    this.reset();

                }

            }
        }
    };
</script>
