<template>

    <div class="base-prompt">

        <!-- STATEMENT -->
        <p>{{ statement }}</p>

        <!-- RANGE FOR EACH TIME WINDOW -->
        <PromptRange
            v-for="(t,i) in timing"
            v-bind:key="t"
            v-bind:difference="differences[i]"
            v-bind:label="t"
            v-bind:max="maxes[i][prompt]"
            v-bind:step="step"
            v-bind:prompt="prompt"
            v-bind:time="i"
            v-bind:results="results"
            v-on:prompt_updated="processUpdatedPrompt"
            v-on:sum_updated="processUpdatedSum" />

    </div>

</template>

<script>
    import PromptRange from "./PromptRange";

    export default {
        name: "BasePrompt",
        props: ["differences", "maxes", "prompt", "statement", "step", "timing", "results"],
        components: {
            PromptRange
        },
        methods: {
            processUpdatedPrompt(updatedPrompt) {
                // send data upstream
                this.$emit("prompt_updated", updatedPrompt);
            },
            processUpdatedSum(updatedSum) {
                // send data upstream
                this.$emit("sum_updated", updatedSum);
            }
        }
    };
</script>
