<template>

    <div class="prompt-range">

        <!-- VALUE -->
        <input
            type="range"
            min="0"
            v-bind:max="max"
            v-bind:style="{ width: `${max}%` }"
            v-model="number"
            @focus="updatePrompt"
            @change="updateSum">

        <!-- VALUES -->
        <div>

            <!-- NUMBER -->
            <md-field>
                <md-input
                    v-model="number"
                    type="number"
                    min="0"
                    v-bind:max="max"
                    @focus="updatePrompt"
                    @change="updateSum">
                </md-input>
            </md-field>

            <!-- LABEL -->
            <p>
                <span>{{ label }}</span>
                <strong v-if="difference > 0">{{ difference }} Points Remaining</strong>
            </p>

        </div>

    </div>

</template>

<script>
    export default {
        name: "PromptRange",
        props: ["difference", "label", "max", "prompt", "step", "time", "results"],
        data: () => ({
            number: 0
        }),
        methods: {
            updatePrompt() {console.log("UPDATE PROMPT")
                // send data upstream
                this.$emit("prompt_updated", {
                    prompt: this.prompt,
                    time: this.time
                });
            },
            updateSum() {

                let data = parseInt(this.number);

                // do not allow above max
                if (data <= this.max) {

                    // send data upstream
                    this.$emit("sum_updated", {
                        prompt: this.prompt,
                        step: this.step,
                        time: this.time,
                        value: parseInt(this.number)
                    });

                }

            }
        },
        watch: {
            results: function(newVal, oldVal) {

                // check value
                if (newVal[this.time][this.prompt] == 0) {

                    // update state
                    this.number = 0;

                }

            }
        }
    };
</script>
