<template>

    <article class="survey-section">

        <!-- INTRODUCTION -->
        <SurveyIntro
            v-bind:defaultMax="defaultMax"
            v-bind:hasInput="section.hasInput"
            v-bind:label="section.label"
            v-bind:sums="sums"
            v-bind:timing="timing" />

        <!-- ACTIONS -->
        <div>

            <!-- RESET -->
            <md-button
                class="md-raised md-accent"
                v-bind:disabled="!hasInput"
                @click="reset">Reset
            </md-button>

            <!-- COMPLETE -->
            <md-button
                class="md-raised md-primary"
                v-bind:disabled="inputMissing"
                @click="processUpdatedStep()">Continue
            </md-button>

        </div>

        <!-- PROMPTS -->
        <BasePrompt
            v-for="(p,i) in section.prompts"
            v-bind:key="i"
            v-bind:differences="differences"
            v-bind:maxes="maxes"
            v-bind:prompt="i"
            v-bind:statement="p"
            v-bind:step="step"
            v-bind:timing="timing"
            v-bind:results="results"
            v-on:prompt_updated="processUpdatedPrompt"
            v-on:sum_updated="processUpdatedSum" />

    </article>

</template>

<script>
    import BasePrompt from "./BasePrompt";
    import SurveyIntro from "./SurveyIntro";

    export default {
        name: "SurveySection",
        props: ["defaultMax", "differences", "maxes", "section", "step", "sums", "timing", "results"],
        components: {
            BasePrompt,
            SurveyIntro
        },
        computed: {
            hasInput: function() {
                return this.sums.reduce((d,i) => d + i) !== 0;
            },
            inputMissing: function() {
                return this.sums.reduce((d,i) => d + i) < this.defaultMax * this.timing.length;
            }
        },
        methods: {
            processUpdatedPrompt(updatedPrompt) {
                // send data upstream
                this.$emit("prompt_updated", updatedPrompt);
            },
            processUpdatedStep() {
                // send data upstream
                this.$emit("step_updated", this.step);
            },
            processUpdatedSum(updatedSum) {
                // send data upstream
                this.$emit("sum_updated", updatedSum);
            },
            reset() {
                // send data upstream
                this.$emit("reset");
            }
        }
    };
</script>
