<template>

    <div class="survey-complete">

        <h1>{{ data.label }}</h1>
        <p>{{ data.description }}</p>

    </div>

</template>

<script>
    export default {
        name: "surveyComplete",
        props: ["data"]
    };
</script>
