<template>

    <hgroup class="survey-intro">

        <div v-for="(t,i) in timing"
            v-bind:key="i"
            v-bind:class="{ empty: sums[i] == 0 }">

            <!-- DESCRIPTION -->
            <p>
                <strong>{{ t.toUpperCase() }}</strong>: 
                <em>{{ description }}</em>
            </p>

            <!-- STATUS -->
            <div>

                <md-progress-spinner
                    md-mode="determinate"
                    v-bind:md-value="sums[i]">
                </md-progress-spinner>

                <span>{{ sums[i] }}</span>

            </div>

        </div>

    </hgroup>

</template>

<script>
    export default {
        name: "SurveyIntro",
        props: ["defaultMax", "hasInput", "label", "sums", "timing"],
        computed: {
            description: function() {
                return `You must distribute ${this.defaultMax} points across all statements${ this.hasInput ? 'number' : ''}.`
            }
        }
    };
</script>
