<template>

    <main>

        <TheHeader />

        <BaseSurvey
            v-bind:data="ocai"
            v-bind:defaultMax="max"
            v-bind:timing="timing" />

    </main>

</template>

<script>
    import BaseSurvey from "./components/BaseSurvey";
    import TheHeader from "./components/TheHeader";

    import ocai from "./data/ocai.json";

    export default {
        name: "App",
        metaInfo: {
          title: "simple survey",
          titleTemplate: `%s`
        },
        components: {
            BaseSurvey,
            TheHeader
        },
        data: () => ({
            active: "0",
            max: 100,
            ocai: ocai,
            timing: ["now", "preferred"]
        })
    };
</script>
